name: Docker Image CI

on:


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build the Docker image
        run: docker buildx build --platform linux/amd64,linux/arm64 --tag roukaixin/aria2:1.37.0 .